@page
@model IndexModel
@{
    ViewData["Title"] = "Sample App for UNTHSC";
}

<div class="text-center">
    <h1 class="display-4">Customer Registration Portal</h1>
    <p>Please login to manage customer registrations or view your profile</a>.</p>
</div>
